extends template

block content
    h1 Chao mung den Node
    hr
    marquee(onmouseover="this.stop()" onmouseout="this.start()" scrollamount="7") Dòng chữ chạy trên màn hình, khi hover chuột thì dừng 
        a(href="#") click me
    hr
    button(onclick="$('.alert').alert()")#message Show messages
    - var data = "Indicates a dangerous or potentially negative action."
    br 
    br  
    #myAlert.alert.alert-danger.alert-dismissable(role="alert")
        button(type="button", data-dismiss="alert").close
            span(aria-hidden="true") &times;
            span.sr-only Close
        strong Lỗi!    
        i= data
    hr
    textarea(name="editor1")
    br
block footer
    script.
        //- CKEDITOR.replace('editor1');
        // Full sample plugin, which does not only register a dialog window but also adds an item to the context menu.
        // To open the dialog window, choose "Open dialog" in the context menu.
        CKEDITOR.plugins.add( 'myplugin', {
            init: function( editor ) {
                editor.addCommand( 'mydialog',new CKEDITOR.dialogCommand( 'mydialog' ) );

                if ( editor.contextMenu ) {
                    editor.addMenuGroup( 'mygroup', 10 );
                    editor.addMenuItem( 'My Dialog', {
                        label: 'Open dialog',
                        command: 'mydialog',
                        group: 'mygroup'
                    } );
                    editor.contextMenu.addListener( function( element ) {
                        return { 'My Dialog': CKEDITOR.TRISTATE_OFF };
                    } );
                }

                CKEDITOR.dialog.add( 'mydialog', function( api ) {
                    // CKEDITOR.dialog.definition
                    var dialogDefinition = {
                        title: 'Sample dialog',
                        minWidth: 390,
                        minHeight: 130,
                        contents: [
                            {
                                id: 'tab1',
                                label: 'Label',
                                title: 'Title',
                                expand: true,
                                padding: 0,
                                elements: [
                                    {
                                        type: 'html',
                                        html: '<p>This is some sample HTML content.</p>'
                                    },
                                    {
                                        type: 'textarea',
                                        id: 'textareaId',
                                        rows: 4,
                                        cols: 40
                                    }
                                ]
                            }
                        ],
                        buttons: [ CKEDITOR.dialog.okButton, CKEDITOR.dialog.cancelButton ],
                        onOk: function() {
                            // "this" is now a CKEDITOR.dialog object.
                            // Accessing dialog elements:
                            var textareaObj = this.getContentElement( 'tab1', 'textareaId' );
                            alert( "You have entered: " + textareaObj.getValue() );
                        }
                    };

                    return dialogDefinition;
                } );
            }
        } );
        CKEDITOR.replace( 'editor1', { extraPlugins: 'myplugin' } );

        $("#myAlert").on('close.bs.alert', function(){
            alert('The alert message is about to be closed.');
        });