extends template

block content
    h1 Chao mung den Node
    h1 Chao mung den Node
    h1 Chao mung den Node
    h1 Chao mung den Node
    h1 Chao mung den Node
    h1 Chao mung den Node
    h1 Chao mung den Node
    h1 Chao mung den Node
    h1 Chao mung den Node
    h1 Chao mung den Node
    