body {
    background: url(../images/furley_bg.png) center;
}
.clear {
    clear: both;
}
div#waiting {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    background-color: lightgray;
    opacity: 0.3;
    padding-top: 35%;
    color: blue;
}
div#backtop:hover {
    transform: scale(1.2);
}
div#backtop {
    display: none;
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    right: 15px;
    transition: all 0.3s;
}
label.error {
    display: block;
    margin: -10px 0px 10px 0px;
    font-size: 0.9em;
    color: red;
    font-style: italic;
}
input.error {
    border: 1px solid red;
}
div#alert-autohide {
    position: fixed;
    background-color: lightgreen;
    color: darkblue;
    border-radius: 5px;
    min-width: 200px;
    max-width: 320px;
    bottom: 5px;
    right: 5px;
    border: 2px solid gray;
}
div#alert-autohide #title-alert {
    font-weight: bold;
    border-bottom: 1px solid gray;
    padding: 5px;
}
div#alert-autohide #title-alert span {
    float: right;
    cursor: pointer;
}
#content-alert {
    padding: 5px;
}
div#div-logo {
    float: left;
    margin-right: 5%;
}
div#div-logo img {
    max-height: 180px;
}
div#div-solo {
    float: left;
    max-width: 75%;
    max-height: 180px;
    overflow: hidden;
}
div#div-solo h1 {
    text-shadow: 2px 3px 4px grey;
    font-size: 3em;
    font-weight: bold;
    color: #fd5a5a;
}
div#div-solo p {
    font-weight: 600;
    color: gray;
    font-style: italic;
    font-size: 1.1em;
}
div#div-language {
    position: absolute;
    right: 10px;
}
div#div-language img {
    width: 40px;
    cursor: pointer;
}
div#div-language ul li a img {
    width: 22px;
    float: right;
    margin-top: -1px;
}
div#div-error {
    min-height: 300px;
}
nav.navbar {
    border: 3px solid gray;
    margin-top: 15px;
}
form.navbar-form.navbar-left div.input-group input {
    width: 300px;
}
li.active {
    font-weight: bold;
    border-bottom: 5px solid red;
    height: 50px;
}
.navbar-header {
    border-right: 3px solid gray;
    font-weight: bold;
    text-shadow: 1px 1px 1px;
}
 ul.nav.navbar-nav li:hover {
    font-weight: bold;
} 
nav.navfix {
    width: 100%;
    position: fixed;
    top: -15px;
    left: 0;
    background-color: cornsilk;
}
div#footer {
    border-top: 1px solid gray;
}
span#designby {
    font-style: italic;
    color: gray;
    margin: 10px 5%;
    display: block;
    border-bottom: 1px solid lightgray;
}
.footer-sub label {
    display: block;
}
.footer-sub {
    width: 25%;
    margin-left: 5%;
    padding: 5px;
    float: left;
    overflow: hidden;
}
.footer-sub form span {
    font-style: italic;
    font-weight: bold;
    color: slategray;
    padding: 5px;
}
div#content form {
    margin-bottom: 20px;
    min-width: 300px;
    max-width: 50%;
}
form .form-control {
    margin-bottom: 15px;
}
span.notnull {
    color: red;
}
form#login {
    margin: auto;
    padding: 10px;
}
div#addlogin {
    margin-top: 20px;
    text-align: center;
}
div#user {
    padding: 10px;
    cursor: pointer;
}
div#user img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
div#user span {
    margin-left: 5px;
}