span#designby @Design by NhanViet
.footer-sub
    label Admin : Hồ Viết Nhân
    label IT developer
    label Email : 
        a(href="mailto:it007bk@gmail.com&subject=Hello Nhan Viet") it007bk@gmail.com
    label Phone : 
        a(href="tel:+841662853007") 0166.2853.007
.footer-sub
    iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsharedapp007%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=390168204513449", width="340", height="150", style="border:none;overflow:hidden", scrolling="no", frameborder="0", allowTransparency="true")
.footer-sub
    form
        span Nhập địa chỉ email để theo dõi các chia sẻ mới từ các thành viên.
                |  Đừng bỏ lỡ những chia sẻ quý báu của người đi trước :D
        .input-group
            input(type="text", class="form-control", placeholder="Email của bạn ...")
            .input-group-btn
                button(class="btn btn-default", type="submit")
                    i.glyphicon.glyphicon-send

.clear